<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/Babies" version="0.0.1" viewmodes="maximized">
    <tizen:application id="xxxxx" package="xxxxx" required_version="2.2"/>
    <author email="dibonafide@gmail.com">Richard DiBona</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Save the Babies</name>
    <tizen:privilege name="http://tizen.org/privilege/power"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="enable" hwkey-event="enable"/>
</widget>
